<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Go-To Chiropractors in Jersey City</h1>
            <hr>
            <p>
                Steps from the Newport PATH<br>
                Most Insurances Accepted<br>
                Same-Day Appointments Available<br>
                Nutrition and Weight Loss Counseling Available<br>
                Parking Validation Available
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
